*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: white;
    font-family: "Hindi", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.8rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #302b63;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #302b63;
    color: white;
}

.todoItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoList{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background: #302b63;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: red;
}

.complete-btn {
    background: #2ecc71;
}

.todoItems{
    padding: 0rem 0.5rem;
}

.fa-minus-circle, .fa-check-circle{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.slide{
    transform: translateY(9rem) rotateZ(30deg);
    opacity: 0;
}